{% extends "base.html" %}
{% block title %}{{ config.title }} - Articles in the {{ term.name }} tag{% endblock %}

{% block content %}
<article class="four-fifth center">
    <h1 class="text-center">Posts in the {{ term.name |  lower}} tag</h1>
    <p class="text-center">(<a href="/{{ taxonomy.name }}">See all tags</a>)</p>
    <div class="row"><div class="col-12 col-lg-8 offset-lg-2">
      {% for page in term.pages %}
        {{ macros::page_summary_card(page=page) }}

      {% endfor %}

      <br>
        </div>
        </div>
        <br/>
</article>
{% endblock %}
