{% extends "base.html" %}
{% block title %}Board games{% endblock title %}

{% block content %}
{% if paginator %}
    {% set pages = paginator.pages %}
{% else %}
    {% set pages = section.pages %}
{% endif %}
<article class="four-fifth center">
    <h1 class="text-center">{{ section.title }}</h1>
    <h2 class="text-center">Mind your manners</h2>
    <p>NOTE: using things for free on the internet is all fun and games until
    it means game designers and programmers aren't getting fairly
    compensated for their work. I recommend:</p>

    <ol>
    <li>Owning these games before playing them online – this option is like
        bringing the physical game to a party. It means you're paying the
        designer a fair price. But it still doesn't thank the people who
        implement the game somewhere on a website.</li>
    <li>Tip, donate, or buy a coffee for the web developers who put your
        favorite games online. Even just a $5-10 contribution helps.</li>
    <li>In addition to (1) and/or (2), send designers a thank you email!
        They'll certainly appreciate it.</li>
    </ol>
    <h2 class="text-center">Favorites</h2>
    <div class="row"><div class="col-12 col-lg-8 offset-lg-2">
      {% for page in pages %}
          {% if page.extra.played %}
              {{ macros::game_summary(page=page) }}
          {% endif %}
      {% endfor %}

      <h2 class="text-center">To play someday</h2>
      {% for page in pages %}
          {% if not page.extra.played %}
              {{ macros::game_summary(page=page) }}
          {% endif %}
      {% endfor %}

      <br>

    </div>
    <br/>
</article>
{% endblock content %}
