{% extends "base.html" %}

{% block title %}Hi friend!{% endblock title %}

{% block content %}
<article class="four-fifth center">
    <div class="row"><div class="col-12 col-lg-8 offset-lg-2 border
            border-dark p-3 mb-5 rounded">
        <img class="mb-4 rounded" src="/img/excited-cat.jpg" style="width:100%">
        <h1>Hello friend!</h1>
        <p>Hi! I'm Zeph, a scientist, teammate, and adventurer. I make
        sense of the world by asking lots and lots of questions. More
        broadly, I love to learn new things, partly because the experience
        of confusion about a topic is fun, and partly because the moment
        when things click together and finally make sense is simply
        amazing. Nothing gets me more excited than building a mental model
        to understand (and often solve) a complex problem.</p>

        <p>Over the years, my online presence has migrated around various
        sites and forms. This is my new (2021) attempt to bring all these
        things back under one roof.</p>

        <ul>
            <li>blogspot</li>
            <li>hakyll (a Haskell-powered static site generator)</li>
            <li>WordPress</li>
            <li>most recently, zola (a Rust-powered static site generator)</li>
        </ul>

        See my <a href="/posts">posts</a>.
    </div></div>
</article>
{% endblock content %}
