{% extends "base.html" %}
{% block title %}All posts{% endblock title %}

{% block content %}
  {% if paginator %}
    {% set pages = paginator.pages %}
  {% else %}
    {% set pages = section.pages %}
  {% endif %}
  <article class="four-fifth center">
    <h1 class="text-center">{{ section.title }}</h1>
    <div class="row"><div class="col-12 col-lg-8 offset-lg-2">
      {% for page in pages %}
          {{ macros::page_summary_card(page=page) }}
      {% endfor %}

      <br>
        {% if paginator.previous or paginator.next %}
          <div class="row">
          {% if paginator.previous %}
          <div class="col-sm text-center">
          <p><a class="btn btn-dark" href="{{ paginator.previous }}">
              <i class="fa fa-arrow-circle-left"></i>&nbsp;Newer posts
          </a></p>
          <br/>
          </div>
          {% endif %}
          {% if paginator.next %}
          <div class="col-sm text-center">
          <p><a class="btn btn-dark" style="text-align-last:right"
              href="{{ paginator.next }}">
              Older posts&nbsp;<i class="fa fa-arrow-circle-right"></i>
          </a></p>
          <br/>
          </div>
          {% endif %}
          </div>
        {% endif %}

      </div>
    </div>
    <br/>
  </article>
{% endblock content %}
