{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<h1>{{ page.title }}</h1>
<p>{{ macros::page_publish_metadata(page=page, comma=true) }} {{ macros::page_content_metadata(page=page) }}</p>
<p>{{ macros::render_tags(page=page) }}</p>

{{ page.content | safe }}
<br>
{% if page.earlier or page.later %}
    <div class="row">
    {% if page.earlier %}
    <div class="col-sm text-center">
    <p><a class="btn btn-dark" href="{{ page.earlier.permalink }}">
        <i class="fa fa-arrow-circle-left"></i>&nbsp;{{ page.earlier.title }}
    </a></p>
    <br/>
    </div>
    {% endif %}
    {% if page.later %}
    <div class="col-sm text-center">
    <p><a class="btn btn-dark" style="text-align-last:right"
        href="{{ page.later.permalink }}">
        {{ page.later.title }}&nbsp;<i class="fa fa-arrow-circle-right"></i>
    </a></p>
    <br/>
    </div>
    {% endif %}
    </div>
{% endif %}
{% if page.extra.latex %}
    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
{% endif %}
{% if page.extra.chart %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <script>
    $("canvas.chart").each(function (index, element) {
      var ctx = element.getContext('2d');
      var chartData = JSON.parse($(this).text());
      var chart = new Chart(ctx, chartData );
    });
  </script>
{% endif %}
{% endblock content %}
